
  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.titulo{
  color: green;
}

p{
  background-color: orange;
  /* color: white; */
  font-weight: normal;
}

#primeiroParagrafo{
  background-color: yellow;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.paragrafo
{
  background-color: aqua;

  color : #000; /* cor da fonte */
  font-weight: bold; /* peso da fonte */
  font-size: 20px; /* tamanho da fonte */
  /*letter-spacing: 15px;  espaços das letras */
  /*word-spacing: 15px;  espaços das palavras */
  text-decoration: dashed; /* decorações para fonts */
  text-transform: none; /* Muda a escrita das letras (maiusculo/minusculo) */
  text-align : justify; /* Alinhamento do texto */
  line-height: 50px; /* Altura da linha */
  /*text-shadow: 0px 0px 10px #000000;  Sombra do texto */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}